<% layout('../layout/' + (isLogged ? 'basic' : 'main')) -%>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend>Edit account</legend>
            <form action="/user/update" method="post" class="form" role="form">
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<input class="form-control" value="<%- user.firstname %>" name="firstname" placeholder="First Name" type="text"
							required autofocus />
					</div>
					
				</div>
				<br />
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<input class="form-control" name="lastname" value="<%- user.lastname %>" placeholder="Last Name" type="text" required />
					</div>
				</div>

				<br />
				<br />
				<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
