<% layout('../layout/' + (isLogged ? 'basic' : 'main')) -%>

<div class="clearfix" style="height: 10px"></div>

<a href="/transaction/deposit" class="btn btn-primary btn-lg" role="button" >Deposit</a>
<a href="/transaction/withdraw" class="btn btn-success btn-lg" role="button" <%- user.balance == 0 ? 'disabled="disabled"' : '' -%>>Withdraw</a>

<h3>User Profile</h3>

<div class="container">
    <div >
        <table>
			<tr>
				<td><strong>Firstname:</strong> </td>
				<td><%- user.firstname -%></td>
			</tr>
			<tr>
				<td><strong>Lastname:</strong> </td>
				<td><%- user.lastname -%></td>
			</tr>
        </table>
		
    </div>
	<div class="clearfix" style="height:10px"></div>
</div>

<a href="/user/edit" class="btn btn-primary active" role="button">Edit</a>
