<% layout('../layout/' + (isLogged ? 'basic' : 'main')) -%>

<form class="form-horizontal" action="" method="post">
	<fieldset>

		<!-- Form Name -->
		<legend>Give Money</legend>
		
		<% if (validationError) { -%>
			<div class="alert alert-danger">
				<%- validationError && validationError.message -%>
			</div>
		<% } -%>
		
		<!-- Textarea -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="description">Description</label>
		  <div class="col-md-4">                     
			<textarea class="form-control" id="description" name="description" placeholder="Transaction description here..." required="required"></textarea>
		  </div>
		</div>

		<!-- Prepended text-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="amount">Amount</label>
		  <div class="col-md-5">
			<div class="input-group">
			  <span class="input-group-addon">$</span>
			  <input id="amount" name="amount" class="form-control" placeholder="" type="number" min="0" step="0.01" max="1000000" required="required">
			</div>			
		  </div>
		</div>			

		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="save"></label>
		  <div class="col-md-4">
			<button id="save" class="btn btn-primary">Save</button>
		  </div>
		</div>

	</fieldset>
</form>



