<% layout('../layout/' + (isLogged ? 'basic' : 'main')) -%>
<% setScripts(js) %>
<% setStylesheets(css) %>

<div style="clear: both; height:10px"></div>
<a href="/transaction/add" class="btn btn-primary btn-lg" role="button"  <%- (user.balance <= 0 ? 'disabled="disabled"' : '') -%> >Add Transaction</a>
<span> </span>

<% if ( user.type == UserModel.TYPE_SYSTEM ) { -%>
<a href="/transaction/addWon" class="btn btn-primary btn-lg" role="button"  <%- (user.balance <= 0 ? 'disabled="disabled"' : '') -%> >Add Won Money</a>
<span> </span>
<% } else { -%>
<a href="/transaction/getWon" id="get_won_btn" class="btn btn-success btn-lg" role="button"  <%- (add_won - get_won <= 0 ? 'disabled="disabled"' : '') -%> >Get Won</a>
<span> </span>
<% } -%>

<a href="/transaction/getpaid" id="get_paid_btn" class="btn btn-success btn-lg" role="button" <%- (credit - debit <= 0 ? 'disabled="disabled"' : '') -%> >Get Paid</a>
<div style="clear: both; height:10px"></div>

<div id="summary_info">
	<table width="100%" border="1">
		<tr class="pre_last_row">			
			<td style="color: red" id="debit">Won Debit: $<span id="won_debit_amount"><%- get_won.toFixed(2) -%></span></td>			
			<td style="color: green" id="credit">Won Credit: $<span id="won_credit_amount"><%- add_won.toFixed(2) -%></span></td>
		</tr>
		<tr >			
			<td style="color: red" id="debit">Debit: $<span id="debit_amount"><%- (debit + get_won).toFixed(2) -%></span></td>			
			<td style="color: green" id="credit">Credit: $<span id="credit_amount"><%- (credit + add_won).toFixed(2) -%></span></td>
		</tr>
		<tr>			
			<td colspan="2">Balance: <span id="balance" style="color: <%- ((credit + add_won) - (debit + get_won) < 0 ? 'red' : 'green') -%>">$<span id="balance_amount"><%- ((credit + add_won) - (debit + get_won)).toFixed(2) -%></span></span></td>
		</tr>
	</table>
</div>
<div style="clear: both; height:10px"></div>
<div>
	<table width="100%" border="1" id="transactions_table">
		<thead>
			<tr class="first_transaction_row">
				<th>
					Date
				</th>
				<th>
					Type
				</th>
				<th>
					Description
				</th>
				<th>
					User
				</th>					
				<th>
					Amount
				</th>			
			</tr>
		</thead>
		<tbody class="transactions_table_tbody">
			<% for (var it = 0; it < transactions.length; it++) { -%>
				<tr>
					<td>
						<% var date = new Date(transactions[it]['date']) -%>
						<%- date.toDateString() -%>
					</td>
					<td>
						<%- TransactionModel.getType(transactions[it]['type']) -%>
					</td>
					<td>
						<%- transactions[it]['description'] -%>
					</td>
					<td>
						<%- transactions[it]['user']['firstname'] + ' (' + UserModel.getType(transactions[it]['user']['type']) + ')' -%>
					</td>
					<td>
						$<%- parseFloat(transactions[it]['amount']).toFixed(2) -%>
					</td>
				</tr>
			<% } -%>	
		</tbody>
	</table>
	
</div>


