<% layout('../layout/' + (isLogged ? 'basic' : 'main')) %>
<% setScripts(js) %>
<% setStylesheets(css) %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend> Sign up!</legend>
            <form action="/signup" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                </div>
            </div>
			<div class="row">
                <div class="col-xs-6 col-md-6">
					<select name="type" class="form-control">
						<% for (var it = 0; it < userTypes.length; it++) { -%>
							<option value="<%- it -%>"><%- userTypes[it] -%></option>
						<% } -%>
					</select>
                </div>               
            </div>
            <input class="form-control" name="email" placeholder="Your Email" type="email" />            
            <input class="form-control" name="password" placeholder="New Password" type="password" />
            <input class="form-control" name="repeatpassword" placeholder="Repeat Password" type="password" />
           
           
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
</div>