<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		
		<link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" />	
		<link rel="stylesheet" href="/css/style.css" />
		<style>
			body {
				padding-top: 50px;
			}
			.starter-template {
				  padding: 40px 15px;
				  text-align: center;
			}
		</style>
		
		<!-- View CSS StyleSheets here: -->
		<%- stylesheets %>
					
	</head>	
	<body>
		
		<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/transactions">Money System</a>
				</div>
				<nav class="collapse navbar-collapse">
					<ul class="nav navbar-nav">						
						<li><a href="/user">User Profile</a></li>						
						<li><a href="/logout">Logout (<%- user.firstname %>)</a></li>
						<li><a href="#"><strong style="color: <%- user.balance > 0 ? 'rgb(97, 255, 97)' : 'gray' -%>">Balance: $<%- user.balance && user.balance.toFixed(2) || 0 -%></strong></a></li>
						<% if (user.type == UserModel.TYPE_USER) { -%>
						<li><a href="#"><strong>Got Paid: $<%- user.got_paid && user.got_paid.toFixed(2) || 0 -%></strong></a></li>
						<li><a href="#"><strong style="color: <%- user.investments >= 0 ? 'rgb(97, 255, 97)' : 'red' -%>">Investments: $<%- user.investments && user.investments.toFixed(2) || 0 -%></strong></a></li>
						<% } else { -%>
							<li><a href="#"><strong>Credit: $<%- user.credit && user.credit.toFixed(2) || 0 -%></strong></a></li>
							<li><a href="#"><strong>Debit: $<%- user.debit && user.debit.toFixed(2) || 0 -%></strong></a></li>
						<% } -%>
					</ul>
														
				
					<div class="navbar-text pull-right">
						Hello, <%- user.firstname %>
					</div><!--/.navbar-collapse -->
					
				</nav><!--/.nav-collapse -->
				
			</div>
		</header>

		<div class="container">
			
			<%- body %>					

		</div><!-- /.container -->
		
		<script src="/vendor/bower_components/jquery/jquery.js"></script>
		<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>	
		<%- scripts %>
	</body>
</html>