<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		
		<link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" />	
		<link rel="stylesheet" href="/css/style.css" />
		<style>
			body {
				padding-top: 50px;
				padding-bottom: 20px;
			}
		</style>
		
		<!-- View CSS StyleSheets here: -->
		<%- stylesheets %>		
			
	</head>	
	<body>
		
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" action="/login" method="post">
						<div class="form-group">
							<input name="email" type="text" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input name="password" type="password" placeholder="Password" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
						<!--<a href="/signup" class="btn btn-info">Sign up</a>-->
					</form>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<div class="container">
			
			<%- body %>

			<hr>

			<footer>
				<p>&copy; Company 2013</p>
			</footer>
		</div> <!-- /container -->
		
		<script src="/vendor/bower_components/jquery/jquery.js"></script>
		<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<%- scripts %>
	</body>
</html>